In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [ ]:
df = pd.read_csv("/content/alzheimers_disease_data.csv")
df.head()

**Tipos de datos**

In [ ]:
df.dtypes

In [ ]:
df.dtypes.value_counts()

**Nulos**

In [ ]:
df.isnull().any()

In [14]:
df.Diagnosis.value_counts()

Diagnosis
0    1389
1     760
Name: count, dtype: int64